$color-principal:#005cbb;
$color-secundario: #5bc0de;
$azul-oscuro: #00254b;
$blanco: #f9f9f9;
$rojo: #d9534f;
$verde: #5cb85c;
$background-componente-1: -webkit-linear-gradient(180deg, #f9f9f9,#f9f9f9,#f1f1f1,#d9d9d9);
$background-componente-2: linear-gradient(180deg, #f9f9f9,#f9f9f9,#f1f1f1,#d9d9d9);    
$background-1: -webkit-linear-gradient(180deg, #f1f1f1,#f1f1f1,#f1f1f1,#f1f1f1,#5bc0de);
$background-2: linear-gradient(180deg, #f1f1f1,#f1f1f1,#f1f1f1,#f1f1f1,#5bc0de);  